.search-form__content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1230px;
}

.search-form__content-title {
  text-align: center;
  text-shadow: 0.5px 0.5px 10px #000;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form__item {
  padding: 0 5px;
  width: 300px;
}

.search-form__item-select {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 16px;
  appearance: none;
  text-align: center;
}
.search-form__button {
  padding: 0 5px;
  width: 120px;
}

.search-form__button-submit {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}