.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 30px;
  width: 300px;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}